body {
    background: #CCCCCC;
}

h1{
    text-align: center;
}

h2 {
    text-align: center;
}

p{
    text-align: center;
}

em strong {
    color: red;
}

#missao {
    font-size: 20px;
}

#banner{
    width: 100%;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

.itens {
    font-style: italic
}
