/********************/
/*  Estilos gerais  */
/********************/
body {
    font-family: 'Raleway', sans-serif;
}

/*
main {
	width: 940px;
	margin: 0 auto;
} */

header {
    background: lightgreen;
    padding: 20px 0; /* 20px para cima e 0 para baixo */
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline; /* deixar o itens no menu lado a lado */
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

footer {
    text-align: center;
    background: url("img/bg.jpg");
    padding: 30px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

/***********************************/
/** Estilos da página de produtos **/
/***********************************/
.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    /* utilizada para alterar a propriedade padrão da box model */
    box-sizing: border-box; 
    /* borda entre o padding e o margin */
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.produtos li:hover {
    border-color: #C78C19;
}

.produtos li:active {
    border-color: #088C19;    
}

.produtos li:hover h2 {
    font-size: 34px;
}

/**********************/
/* Página de Contato */
/**********************/
form {
	margin: 40px 0;
}


form label {
    display:block;
    font-size: 20px;
    margin: 0 0 10px;
}

/* Estilo do paragrafo do form */
form label, form legend {
    display:block;
    font-size: 20px;
    margin: 0 0 10px;
}

/* Estilo do input do form */
.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
    margin: 20px 0;
}

/** Botao **/
.enviar {
    width:40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: width 1s ; /* propriedade de transição altera a duracao de um efeito */
    cursor: pointer; /* Troca seta pela mao */
}

.enviar:hover {
    background: darkorange;
    transform: scale(1.2); /* aumenta o tamanho do botao proporcionalmente me 20% */
}

/** Tabela **/
table {
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}

/******************/
/* Página inicial */
/******************/
.banner {
    width:100%;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.petshop {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}
/*
.imagembeneficios {
    width: 15%;
}
*/

.mapa {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, cyan); /* Gradiamte */
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.principal {
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.video {
    width: 560px;
    margin: 2em auto;
}

.beneficios {
    padding: 3em 0;
    background: #888888;
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5;
}

.itens:first-child {
    font-weight: bold;
}

.imagem-beneficios {
    width: 30%;
    opacity: 0.1; 
    transition: 400ms;
    box-shadow: 10px 10px 10px 0 #000000; /* insere para sombra interna */
}

.imagem-beneficios:hover {
    opacity: 1;    /* Quando o mouse estiver posicionado sobre a imagem veremos teremos 0 de opacidade. */
}

.itens:before {
    content: "★"; /* pseudo-elemento after para que antes do conteúdo da lista, haja uma estrela.*/
}

/* Media querie */
/*  Todas as telas que tenham até 480, terão esse estilo diferente, reescrito. */
@media screen and (max-width: 480px) {
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    .lista-beneficios, .imagem-beneficios {
        width: 100%;
    }
}